* > a {

    text-decoration: none;
    color: white;

}

.wr {

    display: flex;
    justify-content: center;
    align-items: center;
}

.barra_pesquisa {

    width: 20rem;
    background-color: transparent;
    border-color: transparent;
    outline: none;
    color: rgb(83, 83, 83);
    text-shadow: 0 0px 1px rgb(255, 255, 255);
    
}

.barra_pesquisa::placeholder{

   color: rgb(83, 83, 83);
   text-shadow: 0 0px 1px rgb(255, 255, 255);
 
}

.barra_pesquisa:focus{

   color: rgb(83, 83, 83);
   text-shadow: 0 0px 1px rgb(255, 255, 255);
 
}

.wr-btn {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    overflow: hidden;
    color: white;
    cursor: pointer;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.212);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
}

.wr-btn img {

    width: 1.1rem;
    height: auto;
    margin-right: 2px;
    margin-bottom: 2px;

}

.liquid-ef {
    position: absolute;
    z-index: 0;
    inset: 0;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
    isolation: isolate;
}

.liquid-tint {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
}

.liquid-shi {
    position: absolute;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
        inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquid-btn {
    z-index: 3;
    font-size: 0.9rem;
    color: rgb(83, 83, 83);
    text-shadow: 0 0px 1px rgb(255, 255, 255);
    align-items: center;
}

.wr div {
    padding: 0.3rem 0.6rem;
    border-radius: 0.6rem;
}

.wr div > input {
    padding: 0rem 0rem;
    border-radius: 0.6rem;
}

.wr:hover>div {
    padding: 0.6rem 1rem;
    transform: translateY(-1px);
    border-radius: 1.5rem;
}